body {
  font-family:'Times New Roman', Times, serif;
  color: rgb(116, 108, 108);
  text-align: justify;
  margin-left: 12rem;
  margin-right: 12rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

head {
  text-align: left;
  color:black
  font-family Arial, Helvetica, sans-serif;
}

.socialicon {
  width: 20px;
  height: 20px;
  margin:  0px;
}

.recipecolumn {
  column-count: 2;
  column-width: unset;
  float: none;
  
}

.container {
  position:relative;
  column-width:150px 2;
  float: none;
}

.bio {
  margin-top: 20rem;
  align-items: left;
}

#recipebutton {
  background-color: rgb(168, 88, 35);
  border: none;
  color: white;
  padding: 15px 32px;
  align-items: right;
}

footer {
margin-top: 3rem;
text-align: center;

}